{% extends 'base.twig' %}
{% block content %}
	<div class="container py-5">
		<h3>update tâche</h3>
		<form method="POST">
			<div class="mb-3">
				<input type="text" class="form-control" placeholder="Titre" name="title" value="{{task.title}}">
			</div>
			<div class="mb-3">
				<input type="text" class="form-control" placeholder="responsable" name="responsable" value="{{task.responsable}}">
			</div>
			<div class="mb-3">
				<select class="form-control" name="status">
					{% for option in optionList %}
						<option value="{{option}}" {% if option is same as(task.status) %}selected="selected"{% endif %}>{{option}}</option>
					{% endfor %}
				</select>
			</div>
			<button type="submit" class="btn btn-primary">valider</button>
		</form>
	</div> 
{% endblock %}
